<app-navbar></app-navbar>
<div>
    <mat-card>
        <mat-card-title>
            User Details
        </mat-card-title>
        <mat-card-content>
            Name: {{firstName}} {{lastName}} <br>
            Username: {{username}} <br>
            E-mail: {{email}}
        </mat-card-content>
    </mat-card>
    <h4>Checked <br>Out Books</h4>
    <h4>
        Name: {{firstName}} {{lastName}} <br>
            Username: {{username}} <br>
            E-mail: {{email}}

    </h4>
    <h1>This should print</h1>>
</div>