mat-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
mat-toolbar-row {
  position: relative;
}
.example-spacer {
  position: absolute;
  right: 50%;
  margin: 0;
}
button {
  margin-right: 5px;
  height: 100%;
  width: 8%;
}

.nav button {
  position: relative;
  margin: auto;
}

.logout {
  position: absolute;
  right: 1%;
  height: 30px !important;
  width: 75px !important;
  line-height: normal;
  text-align: center;
  padding: 0px;
}

.span {
  margin: auto;
  font-size: 150%;
  color: white;
}

.header {
  background-color: rgb(63, 27, 194);
}
