<mat-toolbar>
  <mat-toolbar-row class="header">
    <span class="span">William Library</span>
    <button
      mat-flat-button
      color="accent"
      (click)="logout()"
      class="logout"
      *ngIf="isUser"
    >
      Log Out
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row [class.mat-elevation-z8]="true" class="nav" *ngIf="isUser">
    <button mat-button routerLink="/userdetails" *ngIf="isLibrarian">
      Librarian
    </button>
    <button mat-button routerLink="/userdetails" *ngIf="isLibrarian">
      Users
    </button>
    <button mat-button routerLink="">Home</button>
    <button mat-button routerLink="/userdetails">User Details</button>
  </mat-toolbar-row>
</mat-toolbar>
