<div [class.mat-elevation-z8]=true>
    <h1>Sign Up!</h1>
    <form class = "signUpForm" >
        <mat-form-field appearance="fill">
        <mat-label>username</mat-label><input matInput name="username" #un  type="text" value=""/>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>password</mat-label>
        <input matInput name="password" #pw  type="password" value=""/>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>verify password</mat-label>
        <input matInput name="verifyPassword" #pv  type="password" value=""/>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput name="fName" #fn  type="text" value=""/>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput name="lName" #ln  type="text" value=""/>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" #em  type="text" value=""/>
    </mat-form-field>
   
</form>
<button mat-flat-button (click)="submitSignUp(un.value,pw.value,pv.value,fn.value,ln.value,em.value)" color="primary" >Sign-Up</button><br><br>
<button mat-flat-button (click)="returnClick()" color="primary" >Returning Patron?</button>
</div>